*{
    margin: 0;   
    scroll-behavior: smooth;
}
   
.navigate {
    margin: 0;
    color: rgb(101, 101, 101);
    position: fixed;
    z-index: 10;
    width: 100%;
 }

.navigateWrapper {
    background-color: rgba(255, 255, 255, 1);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.logo {
    position: relative;
    margin-left: 150px;
    cursor: pointer;


}

.menu {
    position: relative;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}

.menu li {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin: 0 24px;
    
}

.menu-list-link {
    text-decoration: none;
    color: rgb(51, 51, 51);
    letter-spacing: 2px;
    opacity: 80%;
    padding-bottom: 26px;
}

.menu-list :hover {
    opacity: 100%;
    border-bottom: 5px solid rgb(19, 166, 115);
    transition: all 400ms ease-in-out;
}

.toolbar {
    margin-right: 150px;
    cursor: pointer;
    display: flex;
    gap: 30px;
    align-items: center;
}

.user-icon {
    color: rgb(19, 166, 115);
    padding: 5px 5px ;
    border-radius: 50%;
    border: 0.5px solid rgb(16, 133, 92);
}

.user-icon:hover {
    color: white;
    background-color: rgb(19, 166, 115);
    border-radius: 50%;
    transition: all 400ms ease-in-out;
}

.span-bar {
    display: block;
    margin: 0 0 5px 0;
    width: 22px;
    height: 3px;
    border: none;
    border-radius: 10px;
    background-color: rgb(16, 133, 92);
    transition: all 250ms ease-in-out;
    transform-origin: 4px 1px; 
    display: none;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background-image: linear-gradient(135deg,rgb(255, 93, 93, 0.8) 3%,rgb(16, 133, 92, 0.6));
}

.menu-items-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}

.menu-item-list {
    list-style: none;
    color: rgb(255, 255, 255);
    position: relative;
    top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.menu-item {
    padding: 5px 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.hr-menu {
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 2px 0;
    margin: 10px 0;
    border: none;
    opacity: 0.7;
}

@media only screen and (max-width: 750px) {
    .logo {
        margin: 10px auto 0 auto;
        padding: 0;
    }

    .toolbar {
        margin: 0 auto;
        padding: 0;
    }

    .navigateWrapper {
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 1081px) {
    .menu {
        display: none;
    }

    .span-bar {
        display: block;
    }
    
    .hamburger-menu {
        position: fixed;
        top: 31px;
        left: 750px;
    }

    .user-icon {
        position: fixed;
        top: 22px;
        left: 700px;
    }  

    .menu-items {
        width: 52%;
    }
}

@media only screen and (max-width: 429px) {
    .menu {
        display: none;
    }

    .span-bar {
        display: block;
    }
    
    .hamburger-menu {
        position: fixed;
        top: 28px;
        left: 390px;
    }

    .user-icon {
        position: fixed;
        top: 20px;
        left: 340px;
    }  

    .menu-items {
        width: 41%;
    }
}

@media only screen and (max-width: 380px) {
    .menu {
        display: none;
    }

    .span-bar {
        display: block;
    }
    
    .hamburger-menu {
        position: fixed;
        top: 22px;
        left: 320px;
    }

    .user-icon {
        position: fixed;
        top: 15px;
        left: 270px;
    }  

    .menu-items {
        width:35%;
    }

    .menu-item-list {
        top: 180px;
    }
}
