.isocial__preview {
    color: black;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 80vw;
    height: 90vh;
    /* top: 50%; */
}

.navi-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.home-container {
    position: relative;
    display: flex;
}

