.share-post {
    background-color: white;
    width: 80%;
    margin: 0;
    height: auto;
    -webkit-box-shadow: -2px 3px 15px -4px #000000; 
    box-shadow: -2px 3px 15px -4px #000000;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

.share-post-wrapper {
    padding: 30px;
    position: relative;
}

.share-post-top {
    /* box-shadow: ; */
    display: flex;
    padding: 10px;
    width: 100%;
}
.share-post-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left:5px;
}

.share-input {
    width: 100%;
    border: none;
    font-size: 18px;
    overflow: auto;
    outline: none;
    padding-left: 40px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.share-post-hr {
    margin: 20px 0 0 0;
    opacity: 0.5;
}

.share-post-bottom {
    padding: 0 5px 5px 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.share-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.share-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;
    padding: 10px 10px;
    position: relative;
    /* position: absolute; */
    /* top: 10px */
}

.share-option-icon {
    color: #ef476f;
    margin-right: 4px;
}

.share-option-text {
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(62, 62, 62);
}

.share-btn {
    border: none;
    background-color: rgb(7, 59, 76, 0.8);
    transition: 800ms;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    margin-left: 30px;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: -2px 3px 15px -4px #000000; 
    box-shadow: -2px 3px 15px -4px #000000;
}

.tag-icon-color {
    color: #ffd166;
}

.feeling-icon-color {
    color: #06d6a0;
}

.location-icon-color {
    color: #118ab2;
}

.share-btn:hover {
    background-color: rgb(140, 10, 77, 0.8);
    transition: 300ms;
}

.share-option:hover {
    background-color: rgba(235, 235, 235, 0.8);
    /* padding: 10px 0px; */
    transition: 300ms;
    border-radius: 10px;
}

.input-file {
    width: 90px;
    z-index: 30;
    opacity: 0;
    position: absolute;
    height: 50px;
}






