.add {
    /* margin: 10px auto; */
    padding: 0;
    width: 80%;
    height: auto;
    background-color: white;
    -webkit-box-shadow: -2px 3px 15px -4px #000000; 
    box-shadow: -2px 3px 15px -4px #000000;
    margin: 20px 0;
    border-radius: 10px;
}

.add-wrapper {
    padding: 15px;
}

.add-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-top-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.add-user-name {
    margin-left: 10px;
    padding-right: 20px;
}

.add-date {
    color: grey;
}

.vert-icon {
    cursor: pointer;
    color: rgb(75, 75, 75);
}

.add-center {
    display: flex;
    width: 90%;
    height: auto;
    padding: 15px;
    justify-content: center;
}

.add-desc {
    flex:1;
    justify-self: center;
    padding: 30px;
}

.add-desc-title {
    font-size: 16px;
    font-weight: 700;
}

.add-desc-details {
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
}


.add-image {
    flex:1;
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 15px 0;

}

.add-bottom {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.add-bottom-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.add-save-icon-before {
    color: rgb(255, 93, 93);
    padding: 10px;
    cursor: pointer;
}
.add-save-icon-after {
    color: rgb(20, 195, 142);
    padding: 10px;
    cursor: pointer;
}

.add-save {
    font-size: 18px;
}

.add-comment {
    margin-right: 80px;
}

