.post {
    width: 80%;
    height: auto;
    background-color: white;
    -webkit-box-shadow: -2px 3px 15px -4px #000000; 
    box-shadow: -2px 3px 15px -4px #000000;
    border-radius: 10px;
    position: relative;
    margin: 15px 0;
    /* display: flex; */
    /* justify-content: center; */
}

.post-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.post-top-left {
    display: flex;
    flex: 1;
    align-items: center;
}

.post-top-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.post-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.post-user-name {
    margin-left: 10px;
    padding-right: 20px;
    opacity: 90%;
}

.post-date {
    color: grey;
    font-size: 14px;
}

.vert-icon {
    cursor: pointer;
    color: rgb(75, 75, 75);
}

.post-campaign-center {
    width: 90%;
    height: auto;
    object-fit: cover;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.post-desc {
    /* align-self: start; */
    font-size: 18px;
    font-weight: 200;
    margin-top: 30px;
}

.post-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 15px 0;

}

.post-bottom {
    width: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.post-bottom-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
}

.post-like-icon {
    color: rgb(222, 53, 53);
    padding: 10px;
    cursor: pointer;
}

.post-like {
    font-size: 18px;
}

.post-comment {
    margin-right: 30px;
}

.hr-line {
    width: 50%;
    margin-top: 5px;
    color: #000000;
    opacity: 0.5;
}

