* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
}

* li > {
    cursor: pointer;
}

.backgroundImage {
    position: absolute;
    display: fixed;
    top: -90px;
    right: -500px;
    height: 100vh;
    z-index: -1;

}
