* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

body {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100vh;
    /* overflow-x: hidden; */
}

html {
    width: 100%;
    height: 100vh;
}

* li > {
    cursor: pointer;
}

.app__wrapper {

}

.backgroundImage {
    position: absolute;
    overflow: hidden;
    display: fixed;
    top: -90px;
    right: -500px;
    height: 100vh;
    z-index: -1;

}
