.follower-card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.follower-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.follower-card:hover {
    background-color: rgb(215, 215, 215);
    border-radius: 30px;
}